:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-varient: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}


/* ================ Achievements ===============*/

.about_achievements {
    margin-top: 3rem;

}

.about_achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;

}

.about_achievements-right > p {
    margin: 1.6rem 0 2.5rem;
}


.achievements_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievement_card {
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
}

.achievement_card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);

}

.achievement_icon {
    background: var(--color-danger);
    padding: 0.8rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievement_card:nth-child(2) .achievement_icon {
    background-color: var(--color-success);
}

.achievement_card:nth-child(3) .achievement_icon {
    background-color: var(--color-primary);
}

.achievement_card p {
    margin-top: 1rem;
}

/*============= media tablet =============*/

@media screen and (max-width: 1024px) {
    .about_achievements {
        margin-top: 2rem;

    }

    .about_achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about_achievements-left {
        width: 80%;
        margin: 0 auto;

    }
}

/*============= media mobile =============*/
@media screen and (max-width: 600px) {
    .achievements_cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;

    }

    
}